{{ define "main" }}
{{ template "header"}}
<!DOCTYPE html>
    <body>
        <h1>Главная</h1>
        Здесь дизайн главной страницы. Нужны броские, сочетающиеся цвета. Вот этот дизайн не является примером, он просто для представления содержания страницы. Хотелось бы красивый, минималистичный задний фон, здесь что позволяет фантазия. 


        По поводу всей тематики сайта:
        хотелось бы темную тему(желательно с темными и синими оттенками), также, если возможно, маленький логотип сайта.
    </body>
</html>
{{ end }}